.counter{
    background-color: greenyellow;
    padding: 20px;
    width: 114px;
    text-align: center;
}

button{
    background-color: rgb(180, 29, 29);
    color: white;
    padding: 5px;
    font-size: 1em;
    font-weight: bolder;
}
button:hover{
    background-color: rgb(21, 128, 92);
    color: black;
}

.loading{
    margin: 0 auto;
    text-align: center;
}
ul{
    background-color: rgba(138, 93, 26, 0.438);
    padding: 30px;
}
li{
    border: black 1px solid;
    list-style: none;
    width: 65%;
    margin: 0 auto;
}
li:hover{
    background-color: rgba(138, 93, 26, 0.664);
}
.img_art{
    width: 30%;
    margin-left: 35%;
    box-shadow: 3px 3px rgba(54, 51, 51, 0.397);
    margin-bottom: 20px;
}
h4{
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    text-decoration: underline;
}